doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        a(href='/') Home |
        a(href='/search') Search |
        a(href='/booking') Booking |
        a(href='/dashboard') Dashboard |
        a(href='/payment') Payment |
        a(href='/about') About
    main
      block content

